@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
  --clr-neutral-White: #ffffff;
  --clr-neutral-Stone: #f3e6d8;
  --clr-natural-Stone: #e4ded8;
  --clr-neutral-Dark-Stone: #5f574e;
  --clr-deep-Dark-Stone: #302d2c;
  --clr-deep-Red-Brown: #854532;
  --clr-deep-Purple-Rose: #7b284f;
  --clr-neutral-Light-Rose: #fff5fa;
  
  --ff:'Young Serif', 'Outfit';
  --fs-body: 1rem;
  --fs-heading: 1.375rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fw-bold: 600;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--clr-neutral-Stone);
  font-family: var(--ff);
}

.wrapper{
  display: block;
  place-items: center;
  margin: 25px 10px 15px 10px;
  min-height: 100dvh
}

img{
  display: block;
  max-width: 100%;
  margin-inline: auto;
  border-radius: .6rem;
  font-style: italic;
  color: var(--clr-deep-Red-Brown);
  padding-bottom: 1rem;
}

h2{
  color: var(--clr-deep-Red-Brown)
}

section{
  padding-bottom: 2rem;
}

.need-it, .do-it{
     border-bottom: 1px solid #e4ded8;
     padding-bottom: .75rem;
}

p{
  font-family: 'Outfit';
  font-weight: var(--fw-400);
  padding-bottom: 2rem;
}
.prep-it{
  background: var(--clr-neutral-Light-Rose);
  padding-bottom: 1rem;
 
}

.prep-list{
  margin-left: 2.4rem;
}

.prep-list li{
  
  text-decoration: dotted, var(--clr-deep-Purple-Rose);
  color: var(--clr-deep-Purple-Rose);
}

li{
  font-family: 'Outfit';
}

h3{
  margin-left: 1rem;
 color: var(--clr-deep-Purple-Rose); 
  padding-top: 1rem;
  padding-bottom: .75rem;
}

.recipe-container{
  width: 30rem;
  padding: 2.5rem;
  border-radius: .6rem;
  background: var(--clr-neutral-White)
}

.bold-text{
  font-weight: var(--fw-bold);
  color: var(--clr-deep-Dark-Stone)
}

table{
  table-layout: fixed;

}

td{
  width: 80%;
  border-bottom: 1px solid #e4ded8;
}

td:nth-child(2){
  color: var(--clr-deep-Red-Brown);
}

footer{
  padding-bottom: 2rem;
}

@media screen and (min-width:375px) and (max-width: 1440px) {
  body{
    font-size: 16px;
  }
}